@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;800;900&display=swap");

* {
  font-family: "Roboto";
}

.challenge-screen-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #da3690, #c78726, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
  display: flex;
  flex-direction: row;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.challenge-container {
  padding: 2em;
  margin: 10vh 0 10vh 10vw;
  text-align: center;
  background: white;
  border-radius: 30px;
  box-shadow: 6px 6px 50px -5px;
}

#above-sankerthon {
  font-size: 2.7em;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: black;
}

#sankerthon {
  font-family: "Bebas Neue";
  font-size: 5em;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

/* For the button */
.category-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1em;
}

.category-links a {
  display: inline-block;
  font-weight: 500;
  font-size: 3em;
  width: 200px;
  padding: 1.5em 2em;
  border-radius: 10rem;
  margin: 1em 0em;
  color: #fff;
  background: linear-gradient(267.93deg, #38b3da 0.17%, #5f42d6 99.86%);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;

  text-decoration: none;

  overflow: hidden;
  z-index: 1;
}

.category-links a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.4;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.category-links a:hover {
  color: black;
}
.category-links a:hover:before {
  width: 100%;
}

.category-links li:nth-child(2) a {
  background: linear-gradient(264.07deg, #eb5635 0%, #d2cb10 100%);
}

.category-links li:nth-child(3) a {
  background: linear-gradient(267.61deg, #9338da 0.17%, #d64242 99.86%);
}

.disable-challenge a {
  filter: grayscale(0.8);
  color: rgb(170, 170, 170);
  pointer-events: none;
  cursor: default;
}
