@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.roundHeader {
  font-weight: 900;
  position: absolute;
  font-size: 2em;
  top: 60px;
  left: 80px;
  font-family: Montserrat;
}

.roundHeader.center {
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 1em;
  text-align: center;
}

.scoreContainer {
  width: 150px;
  height: 60px;
  position: absolute;
  top: 60px;
  right: 80px;
  text-align: center;
  border: 3px solid #878787;
  box-sizing: border-box;
  border-radius: 13px;
  background: white;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.08);
}

.scoreContainer p {
  font-weight: bold;
  font-size: 1.7em;
  padding: auto;
  margin: auto;
  line-height: 50px;
}

.qnaContainer {
  margin: 0 auto;
  width: 52vw;
  min-width: 450px;
  position: relative;
  top: 26vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.questionContainer {
  text-align: center;
  overflow: hidden;

  padding: 1em;
  min-height: 17vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
  border-radius: 24px;
  transition: all 1s ease-in-out;
}

.questionContainer h1,
h3,
h4 {
  color: white;
}

.questionContainer p {
  font-size: 1.5em;
}

.questionContainer h3 {
  font-weight: 500;
  font-size: 1.7em;
  margin: auto;
}

.questionContainer h4 {
  font-size: 1.7em;
}

.questionContainer h1 {
  font-size: 4em;
}

.timerBase {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  top: calc(26vh - 40px);
  right: calc(24vw - 40px);
  z-index: 1;
  border: 3px white solid;
}

.timerBaseSvg {
  transform: scaleX(-1);
  z-index: 3;
}

.timerBaseCircle {
  fill: none;
  stroke: none;
  z-index: 2;
}

.timerBasePathElapsed {
  stroke-width: 10px;
  stroke: grey;
  z-index: 7;
}

.timerBaseLabel {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
}

.timerBasePathRemaining {
  /* Just as thick as the original ring */
  stroke-width: 10px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.nextButton {
  position: relative;

  width: 200px;
  height: 60px;
  line-height: 0;
  margin: 1.2em auto auto auto;
  padding: 0.8em 1.2em;

  color: #ffffff;
  background: #ffffff;
  border: 4px solid #20bf6b;
  background-color: rgb(23, 201, 100);
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.4s ease 0s, opacity 1s ease-in-out 0.7s;
}

.nextButton:hover {
  border-radius: 50px;
  background-color: rgb(16, 179, 87);
  border-color: rgb(8, 82, 40);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.shapes {
  position: fixed;
  right: -20px;
  bottom: -10px;
  z-index: -5;
}

/* MCQ things */

.answerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  margin: 2em 0 0 0;
}

.answerGrid.ooo {
  grid-template-columns: 1fr 1fr;
  margin: 2em 4em 0 4em;
  gap: 1.8em 3.5em;
}

.answerBox {
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.4em;
  font-size: 1.3em;
  font-weight: 300;

  background: #ffffff;
  border: 1px solid #cecece;

  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  transition: all 1s ease-in-out;
}

.answerBox.ooo {
  padding: 1.3em 1.4em;
}

.answerBox:hover {
  background-color: #adcbee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.answerBox.ooo:hover {
  background-color: #f8e3f3;
}

/* Input things */

.inputContainer {
  margin: 1.8em 4em;
  padding: 0;
}

.answerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.answerInput {
  padding: 0.2em 1em;
  font-size: 1.5em;
  font-weight: bold;
  height: 40px;
  text-align: center;

  background: #ffffff;
  border: 5px solid #b6b6b6;
  border-radius: 15px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.answerInput::placeholder {
  color: #b6b6b6;
}

.answerInput:focus {
  box-shadow: 5px 13px 26px #c7c7c7;
}

.submitBtn {
  width: 180px;
  display: block;
  text-align: center;
  margin-left: 1em;
  padding: 0 1em;
  font-weight: 500;
  font-size: 1.7em;

  background-color: #ffffff;
  border: 5px solid #71d37a;
  color: #71d37a;
  /* Box drop shadow */

  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.08);
  border-radius: 15px;

  transition: all 0.5s ease-in-out;
}

.submitBtn:hover {
  background-color: #71d37a;
  color: #ffffff;
  cursor: pointer;
}

.submitBtn:disabled {
  color: #a4a4a4;
  border-color: #a4a4a4;
  pointer-events: none;
}
