.container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #42e18f, #2fc0da, #66bedd, #d0c773);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
  padding: 0;
  position: absolute;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.questionContainer {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  border: rgb(186, 186, 186) solid 0px;
  border-radius: 15px;
  background: white;
box-shadow: 6px 6px 50px -5px;;
}

.questionBoxContainer {
  text-align: center;
  background-color: rgb(250, 222, 112);
  margin: 1.5em;
  overflow: hidden;
  padding: 0.1em 2em 0.1em 2em;
  height: 20%;
  border-radius: 10px;
  font-size: 1.7em;
}

.loadContainer {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: rgb(235, 215, 132);
  text-align: center;
  vertical-align: middle;
  display: flex;
  position: fixed;
  z-index: 7;
}

.loadContainer h1 {
  margin: auto;
  font-weight: normal;
  font-size: 3em;
}

.answerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  margin: 1em 3em 3em 3em;
}

.answerBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 240, 170);
  border-radius: 20px;
  padding: 0.2em 0em;
  font-size: 1.4em;
}

.answerBox:hover {
  background-color: rgb(216, 199, 72);
  cursor: pointer;
}

.timerContainer {
  width: 100px;
  height: 100px;
  position: fixed;
  background-color: rgb(250, 222, 112);
  border-radius: 50%;
  margin: 50px;
  text-align: center;
  top: 0;
  left: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.timerContainer p {
  margin: auto;
  font-size: 2em;
}

.scoreContainer {
  width: 120px;
  height: 80px;
  position: fixed;
  background-color: rgb(192, 250, 112);
  border-radius: 30px;
  margin: 50px;
  text-align: center;
  top: 0;
  right: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.scoreContainer p {
  margin: auto;
  font-size: 2em;
}

.nextButton {
  position: relative;
  margin: -5.5em 1em -1em 1em;
  top: 70vh;
  color: #ffffff;
  background: #ffffff;
  padding: 0.5em 3em;
  border: 4px solid #20bf6b;
  background-color: rgb(23, 201, 100);
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 2px 2px 50px -10px black;
}

.nextButton:hover {
  border-radius: 50px;
  background-color: rgb(16, 179, 87);
  border-color: rgb(8, 82, 40);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}



.inputContainer {
  margin: 1em;
  padding: 0em;
}

.answerForm {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.answerForm input[type=text] {
  order: 1;
}

.answerForm input[type=submit] {
  background-color: greenyellow;
  border-radius: 30px;
  border: 1px red solid;
  order: 2;
}
.answerForm input[type=submit]:hover:enabled {
  cursor: pointer;
}